* {
    font-family: Roboto, sans-serif;
    color: #1f2937;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 24px 0;
}

footer,
.navbar,
.hero {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

a,
.hero-text p,
footer {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 900;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

button,
.call-to-action {
    background-color: #3882f6;
}

.container {
    display: flex;
    flex-direction: column;
}

.quote {
    background-color: #e5e7eb;
}

.quote p {
    font-size: 36px;
    font-style: light italic;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}