* {
    font-family: Roboto, sans-serif;
    color: #1f2937;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 24px 0;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 64px 0;
}

.hero-text {
    flex-basis: 450px;
}

.hero-text p {
    margin-bottom: 12px;
}

.section-title {
    text-align: center;
    margin-bottom: 26px;
}

.card-area {
    display: flex;
    justify-content: center;
}

.placeholder {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 250px;
    text-align: center;
}

.card p {
    margin-top: 6px;
}

footer,
.navbar,
.hero {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

a,
.hero-text p,
footer {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #acadb0;
}

h1,
h2 {
    font-weight: 900;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

button,
.call-to-action {
    background-color: #3882f6;
}

button {
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 8px;
    padding: 8px 30px;
}

button:hover {
    background-color: #3066bb;
}

.container {
    display: flex;
    flex-direction: column;
}

.padding {
    padding: 80px 0;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 24px;
    width: 900px;
}

.quote span {
    align-self: center;
    font-size: 18px;
    font-weight: 800;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 900px;
    padding: 40px 80px;
    border-radius: 8px;
}

.call-to-action h3,
.call-to-action p {
    color: #e5e7eb;
}

.call-to-action button {
    font-weight: 300;
    border: 3px solid #e5e7eb;
}

.call-to-action button:hover {
    background-color: white;
    color: #3882f6;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}